# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/
.python-version

# Testing
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Type checkers / linters
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tools / builds
site/

# Local env
.env
.env.*

uv.lock
